<div class="container">
    <a class="navbar-brand" href="/">
        <img src="../static/images/card.png" class="logo img-fluid" alt="BDSE Team Six">
        <span>
            BDSE Team Six
            <small>Credit Scoring System</small>
        </span>
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link click-scroll" href="/#top">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="/#section_2">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="/#section_3">Team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="/#section_4">Rawdata</a>
            </li>

            <li class="nav-item ms-3">
                <a class="nav-link custom-btn custom-border-btn btn" href="form">Scoring</a>
            </li>
        </ul>
    </div>
</div>