<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title> BDSE Team Six Credit Scoring System </title>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- CSS FILES -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/templatemo-kind-heart-charity.css') }}" rel="stylesheet">

</head>


<body>
    <header class="site-header">{% include "_header.html"%}</header>
    <nav class="navbar navbar-expand-lg bg-light shadow-lg">{% include "_navbar.html"%}</nav>

    <body>
        <link rel="stylesheet" type="text/css" href="navbar.css">
        <main>
            <section class="section-padding" id="section_3">
                <div class="container">

                    <div class="row">
                        <div>
                            <h1 style="color: #66cdaa;">Welcome! {{data['form-name']}}</h1>
                        </div>

                        <div class="col-lg-12 col-12 text-center mb-4">
                            <h2>Results</h2>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">

                                <div class="custom-block">
                                    <div class="custom-block-body" style="padding-top: auto;">
                                        <h3 class="mb-3" style="text-align: center;padding-bottom: 2px;">Summary</h3>
                                        <ul style="
                                    flex: 1; 
                                    list-style-type: disc; 
                                    padding: 0; 
                                    text-align: left;
                                    ">
                                            <li style=" 
                                    font-weight: bold;
                                    font-size: 32px; 
                                    ">
                                                Scoring: {{ (prediction)}}
                                            </li>
                                            <li style=" 
                                    font-size: 32px; 
                                    font-weight: bold;
                                    ">
                                                Annual income: {{ data['form-annual-income'] }}
                                            </li>
                                            <li style=" 
                                    font-size: 32px; 
                                    font-weight: bold;
                                    ">
                                                {% if data.get('form-own-car') %}
                                                Own Car: Yes
                                                {% else %}
                                                Own Car: No
                                                {% endif %}
                                            </li>
                                            <li style=" 
                                    font-size: 32px; 
                                    font-weight: bold;
                                    ">
                                                {% if data.get('form-own-realty') %}
                                                Own Realty: Yes
                                                {% else %}
                                                Own Realty: No
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">

                                <div class="custom-block">
                                    <div class="custom-block-body">

                                        <input type="hidden" id="roundedPrediction" value="{{ (prediction)}}">
                                        <h3 class="mb-3" style="text-align: center;">Scoring</h3>
                                        <div id="gauge-chart">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>

                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Annual Income</h5>

                                        <div id="income-chart">
                                            {{ income_plot_html | safe }}
                                        </div>

                                    </div>
                                    <div class="custom-btn btn">
                                        You're in {{ income_category }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="custom-block-wrap">

                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Occupation Type</h5>
                                        <div>
                                            <div id="second_chart_placeholder">{{ occupation_plot_html | safe }}</div>
                                        </div>
                                    </div>

                                    <div class="custom-btn btn">You're {{ occupation_type }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="custom-block-wrap">
                                <div class="custom-block">
                                    <div class="custom-block-body">
                                        <h5 class="mb-3">Age</h5>

                                        <div id="age-chart">
                                            {{ age_plot_html | safe }}
                                        </div>
                                    </div>

                                    <div class="custom-btn btn">You're {{ age_category }}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="site-footer-bottom" style="margin-top: 0%;">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-7 col-12">
                            <p class="copyright-text mb-0">Copyright © 2023 BDSE TEAM SIX : CREDIT SCORING SYSTEM</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

        var gaugeDiv = document.getElementById("gauge-chart");

        // 獲取預測結果
        var roundedPrediction = parseFloat(document.getElementById('roundedPrediction').value);

        var predictionValue = roundedPrediction * 100;

        // 根據預測結果確定區間
        var interval;
        if (predictionValue < 20) {
            interval = "Very Low";
        } else if (predictionValue < 40) {
            interval = "Low";
        } else if (predictionValue < 60) {
            interval = "Average";
        } else if (predictionValue < 80) {
            interval = "Good";
        } else {
            interval = "Excellent";
        }

        var traceA = {
            type: "pie",
            showlegend: false,
            hole: 0.7,
            sort: false,
            values: [
                predictionValue,
                100 - predictionValue,
            ],
            text: ["", ""],
            direction: "clockwise",
            textinfo: "text",
            textposition: "inside",
            marker: {
                colors: ['rgba(0, 123, 255, 0.8)', 'rgba(211, 211, 211, 0.4)']
            },
            labels: ["您的評分", ""],
            hoverinfo: "label"
        };

        if (predictionValue < 20) {
            traceA.marker.colors[0] = 'rgba(255, 0, 0, 0.8)'; //  "Very Low" 的顏色
            traceA.labels[0] = "Very Low"; // "Very Low" 的標籤
        } else if (predictionValue < 40) {
            traceA.marker.colors[0] = 'rgba(255, 165, 0, 0.8)'; //  "Low" 的顏色
            traceA.labels[0] = "Low"; // "Low" 的標籤
        } else if (predictionValue < 60) {
            traceA.marker.colors[0] = 'rgba(255, 255, 0, 0.8)'; // "Average" 的顏色
            traceA.labels[0] = "Average"; // "Average" 的標籤
        } else if (predictionValue < 80) {
            traceA.marker.colors[0] = 'rgba(144, 238, 144, 0.8)'; // "Good" 的顏色
            traceA.labels[0] = "Good"; // "Good" 的標籤
        } else {
            traceA.marker.colors[0] = 'rgba(0,128,0,0.8)'; // "Excellent" 的顏色
            traceA.labels[0] = "Excellent"; // "Excellent" 的標籤
        }

        var titleAnnotation = {
            x: 0.5,
            y: 0.5, 
            showarrow: false,
            text: predictionValue.toFixed(2),
            font: {
                size: 50,
                color: "black",
                weight: "bold"
            }
        };

        // 更新文本和顏色以匹配區間
        var layout = {

            annotations: [titleAnnotation],
            xaxis: { visible: false }, 
            yaxis: { visible: false }, 
            showlegend: false,
            margin: {
                t: 2,
                b: 'auto', 
                l: 0,
                r: 0 
            }
        };

        var data = [traceA];

        Plotly.newPlot(gaugeDiv, data, layout);

    </script>

</body>


</html>